h1{
    color: red;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}
.para2{
    color: rgb(211, 28, 104);
    background-color: rgb(38, 38, 114);
}
#selectors{
    color: chocolate;
    font-style: italic;
}
.indicators{
    background-color: cyan;
    font-style: italic;
}